.Reserve .Reservation .Month {
   width: 95%;
   margin: 1rem auto;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 5rem;
}

.Reserve .Reservation .Month .PrevButton {
   width: fit-content;
   line-height: inherit;
   font-size: 5rem;
}

.Reserve .Reservation .Month .NextButton {
   width: fit-content;
   line-height: inherit;
   font-size: 5rem;
}

.Reserve .Reservation .Month .PrevButton:hover,
.Reserve .Reservation .Month .NextButton:hover {
   cursor: pointer;
   user-select: none;
}



.Reserve .Reservation .Month .Display {
   width: fit-content;
   height: inherit;
   font-size: 4rem;
   letter-spacing: 0rem;
}