.Staff .Bennett {
   position: relative;
   margin-bottom: 5rem;
}

@keyframes staff-bennett-slide-in {
   0% {
      opacity: 0%;
      right: 20%;
   }
   100% {
      opacity: 100%;
      right: 0%;
   }
}
.Staff .Bennett.in {
   animation-name: staff-bennett-slide-in;
   animation-duration: 1.2s;
   animation-timing-function: ease;
}