.Menu .CutAndShampoo {
   position: relative;
   margin-top: 8rem;
}

@keyframes menu-cut-and-shampoo-slide-in {
   0% {
      opacity: 0%;
      left: 20%;
   }
   100% {
      opacity: 100%;
      left: 0%;
   }
}
.Menu .CutAndShampoo.in {
   animation-name: menu-cut-and-shampoo-slide-in;
   animation-duration: 1.2s;
   animation-timing-function: ease;
}