.Reserve .Reservation .Confirm .InputValue {
   display: flex;
   margin: 0.5rem 0;
   padding: 0 0.5rem;
   justify-content: start;
   align-items: center;
}

.Reserve .Reservation .Confirm .InputValue .Label {
   display: block;
   min-width: 10rem;
   font-size: 1.4rem;
}

.Reserve .Reservation .Confirm .InputValue .Input {
   display: flex;
   width: 100%;
   justify-content: space-between;
   font-size: 1.4rem;
}